<!--<app-home-page></app-home-page>-->
<!--<app-list-customers></app-list-customers>-->
<!--<app-edit-customer></app-edit-customer>-->
<!--<app-create-customer></app-create-customer>-->
<app-list-services></app-list-services>
<!--<app-create-service></app-create-service>-->
<!--<app-list-employees></app-list-employees>-->
<!--<app-create-employee></app-create-employee>-->
<!--<app-edit-employee></app-edit-employee>-->
<!--<app-list-contracts></app-list-contracts>-->
<!--<app-create-contract></app-create-contract>-->
