<div class="container-fluid" style="background: #00BFF2">
  <h1 style="color: #FA261B">Cristiano Ronaldo</h1>
  <p>Cristiano Ronaldo dos Santos Aveiro GOIH ComM (born 5 February 1985) is a Portuguese professional footballer who plays as a forward for Premier League club Manchester United and captains the Portugal national team. Often considered the best player in the world and widely regarded as one of the greatest players of all time, Ronaldo has won five Ballon d'Or awards and four European Golden Shoes, the most by a European player. </p>
</div>
